$altura-nav:50px;
$altura-rodape:110px;
$altura-titulo:50px;
$altura-bordado:2*32px;
$altura-conteudo:calc(100% - ($altura-nav + $altura-titulo + $altura-rodape ));

$altura-borda: 1*22px;





$indentacao-1: 2rem;
$indentacao-2: 3rem;
// $altura-conteudo:calc(100% - ($altura-nav + $altura-titulo + $altura-rodape + $altura-borda));

$fonte-normal:20px;
$fonte-pequena:18px;
$fonte-grande1:22px;
$fonte-grande2:26px;

$fonte-titulo-codigo:18px;
$fonte-descricao-codigo:16px;

$fonte-linda: LindenHill;
$fonte-aller: Aller;
$fonte-quicksand: QuickSand;
$fonte-josefin: JosefinSans;
$fonte-rainshow: Rainshow;
$fonte-philosopher: Philosopher;
$fonte-insani: Insani;
$fonte-reey: Reey;

$cor-fonte:#3b2401;

$cor-fundo: #fcfdf2;
$cor-fundo: #ffffff;
$cor-fundo: #f0fcc7;
$cor-fundo: #f4fdd7;

// $cor-fundo: #EBEEDA;

$cor-verde1: #D6F98B;
$cor-verde2: #CCF476;
$cor-verde3: #3C5734;

$cor-marrom1: #CCF476;
$cor-marrom2: #f7df93d3;
$cor-marrom3: #CCF476;
// $cor-marrom1: #855d13;
// $cor-marrom2: #f7df93d3;
// $cor-marrom3: #694001a6;
// $cor-marrom: #FCDB86;
$cor-marrom: #BEF094;
$cor-marrom-escuro: #3b2401;
$cor-marrom-escuro_2:#69410560;
$cor-laranja: #f4f276;


