
@use "sass:math";
@use 'variaveis' as v;
// v.$fonte-linda: LindenHill;
// v.$fonte-aller: Aller;
// v.$fonte-quicksand: QuickSand;
// v.$fonte-josefin: JosefinSans;
// v.$fonte-rainshow: Rainshow;
// v.$fonte-philosopher: Philosopher;
// v.$fonte-insani: Insani;
// v.$fonte-reey: Reey;
// v.$fonte-grande:32px;


.navegacao{
    // color:red;
    // border: 2px red solid;
    display: flex;
    flex-direction: row;
    // background-color: v.$cor-marrom1;

    font-family: LindenHill, Georgia, 'Times New Roman', Times, serif;

    font-weight: 800;
    height: v.$altura-nav;


    // background-color: #BEF094;
    background-color: v.$cor-fundo;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg fill-opacity='0.15'%3E%3Crect fill='%23FFFFFF' width='11' height='11'/%3E%3Crect fill='%23fdfcfb' x='10' width='11' height='11'/%3E%3Crect fill='%23fbf9f6' y='10' width='11' height='11'/%3E%3Crect fill='%23f8f6f2' x='20' width='11' height='11'/%3E%3Crect fill='%23f6f3ee' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23f4f0e9' y='20' width='11' height='11'/%3E%3Crect fill='%23f2ede5' x='30' width='11' height='11'/%3E%3Crect fill='%23f0eae1' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23ede7dc' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23ebe4d8' y='30' width='11' height='11'/%3E%3Crect fill='%23e9e1d4' x='40' width='11' height='11'/%3E%3Crect fill='%23e7ded0' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23e4dbcb' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23e2d8c7' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23e0d5c3' y='40' width='11' height='11'/%3E%3Crect fill='%23ded2bf' x='50' width='11' height='11'/%3E%3Crect fill='%23dbcfbb' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23d9ccb6' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23d7c9b2' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23d5c6ae' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23d2c3aa' y='50' width='11' height='11'/%3E%3Crect fill='%23d0c0a6' x='60' width='11' height='11'/%3E%3Crect fill='%23cebda2' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23cbba9e' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23c9b79a' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23c7b596' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23c5b292' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23c2af8e' x='70' width='11' height='11'/%3E%3Crect fill='%23c0ac8a' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23bea986' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23bba682' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23b9a47e' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23b6a17a' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23b49e76' x='80' width='11' height='11'/%3E%3Crect fill='%23b29b72' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23af986e' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23ad966a' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23ab9366' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23a89062' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23a68d5f' x='90' width='11' height='11'/%3E%3Crect fill='%23a38b5b' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23a18857' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%239e8553' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%239c834f' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%239a804b' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23977d48' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23957b44' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23927840' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2390753c' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%238d7338' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%238b7035' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23886d31' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23866b2d' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23836829' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23816625' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%237e6321' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%237c611d' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23795e19' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23775c14' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%2374590F' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3013' height='3013' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23443609' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2384451C'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");

background-attachment: fixed;
background-size: cover;
    // background-color: #FFFFFF;

    background-color: #F4FDD7;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg fill-opacity='0.16'%3E%3Crect fill='%23F4FDD7' width='11' height='11'/%3E%3Crect fill='%23f3fcd5' x='10' width='11' height='11'/%3E%3Crect fill='%23f1fcd4' y='10' width='11' height='11'/%3E%3Crect fill='%23f0fbd2' x='20' width='11' height='11'/%3E%3Crect fill='%23effad0' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23eeface' y='20' width='11' height='11'/%3E%3Crect fill='%23ecf9cd' x='30' width='11' height='11'/%3E%3Crect fill='%23ebf8cb' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23eaf7c9' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23e8f7c8' y='30' width='11' height='11'/%3E%3Crect fill='%23e7f6c6' x='40' width='11' height='11'/%3E%3Crect fill='%23e5f5c5' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23e4f5c3' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23e3f4c1' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23e1f3c0' y='40' width='11' height='11'/%3E%3Crect fill='%23e0f3be' x='50' width='11' height='11'/%3E%3Crect fill='%23def2bc' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23ddf1bb' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23dbf1b9' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23daf0b8' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23d8efb6' y='50' width='11' height='11'/%3E%3Crect fill='%23d7efb5' x='60' width='11' height='11'/%3E%3Crect fill='%23d5eeb3' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23d4eeb1' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23d2edb0' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23d1ecae' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23cfecad' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23cdebab' x='70' width='11' height='11'/%3E%3Crect fill='%23cceaaa' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23caeaa8' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23c9e9a7' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23c7e8a5' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23c5e8a4' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23c4e7a2' x='80' width='11' height='11'/%3E%3Crect fill='%23c2e6a1' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23c0e6a0' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23bfe59e' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23bde59d' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23bbe49b' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23b9e39a' x='90' width='11' height='11'/%3E%3Crect fill='%23b8e399' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23b6e297' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23b4e196' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23b2e194' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23b0e093' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23afe092' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23addf90' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23abde8f' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23a9de8e' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23a7dd8c' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23a5dd8b' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23a3dc8a' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23a1db89' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%239fdb87' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%239dda86' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%239bd985' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%2399d984' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%2397d882' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%2395d881' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%2393D780' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;



}


.topo {
  display: grid; 
  grid-template-columns: 1.3fr 0.7fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."
    ". ."; 
  grid-area: 1 / 1 / 2 / 2; 
}
.conteudo { grid-area: 2 / 1 / 5 / 2;
  width: 100%;  }
.conteudo_2 { grid-area: 4 / 1 / 5 / 2; 
  width: 100%;  }

.subtitulo {
  display: grid; 
  grid-template-columns: 1.3fr 0.7fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 
  grid-area: 3 / 1 / 4 / 2; 
}

  
  // border: #BC770F solid 4px;











// QUADROS______________________

.quadros{
        display: grid;
        grid-template-columns: 1.6fr 3.6fr;
        grid-template-rows: 2.5fr;
        gap: 0px 0px;
        grid-auto-flow: row dense;
        grid-template-areas:
          ". .";
        width: 100%;
        height:v.$altura-conteudo;
        // border: #BC770F solid 4px;
      
}
.quadros_esquerda{ 

    // border: #e09119 solid 4px;
    padding: 7% 8% 0 8%;
     display: grid;
        grid-template-columns: 1.6fr;
        grid-template-rows: 1.8fr 1.8fr;
        gap: 0px 0px;
        grid-auto-flow: row dense;
        grid-template-areas:
          "."
          ".";
        // width: 91.3%;
        height:calc(100% - v.$altura-nav );

        justify-content: center;
        align-content:center;
  
}

.livro{
    

    border:green solid 2px;
    height:100%;
    width: 100%;
    justify-self: center ;

}

.produtos{
    color:blue;
}
// QUADROS______________________



