.postagem{
    width: 1200px;
    height: 1800px;
    align-items: center;
}
.titulo{
    font-weight: 800;
}
.autor{
    font-weight: 600;
}
.descricao{
    width: 80%;
}
.Sfrutas{
    width: 80%; 
}
.conteudo{
    width: 80%;
}